.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sign-in.btn{
  padding: 20px 200px 20px 200px !important; 
  border-radius: 50px;
  border:none;
  font-family: 'Poppins',sans-serif;

}
.sign-in.btn:hover{
  transform:scale(1.05) ;
  background-color: green;
  color:white;
  transition: 200ms ease-out;
}
